/* Colors and fonts */
body {
	background-color:rgb(225,223,222);
	color:rgb(24,26,19);
	font-family: 'Lora', serif;
	font-size:17px;
}

#user{
	width: 277px;
}

h1,h2,h3 {
	font-family: 'Noto Sans JP', sans-serif; 
	font-weight: 700;

}

h1{
	color:rgb(90,121,140);
	font-size: 47px;
}

h2{
	color:rgb(178,128,150);
	font-size: 36px;
	font-weight: bold;
}

a{
	text-decoration:none;
	font-family: 'Noto Sans JP', sans-serif;
}


/*custom design with class*/

.container {
	width: 1100px;
	margin: 30px auto;
}

@media (max-width: 600px) {
	.container {
		width: 400px;
	}
}

#introduction p{
	margin-bottom: 40px
}

.card-white {
	background-color: white;
	padding: 50px;
	margin: 50px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.17);
	border-radius: 4px;
	text-align: center;

}
.btn-blue {
	background-color: rgb(105,122,150);
	color: white;
	padding: 10px 5px;
	border-radius: 4px;
}

.btn-blue:hover {
	background-color: black;
	color:white;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 35px;
	color: rgb(105,122,150);
}

.list-inline i:hover {
	color:black;
}
